.header {
    position: sticky;
    z-index: 10;
    top: 0;
    height: 74px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px 15px;
}

.header_white {
    background-color: white;
}

.links {
    display: flex;
    align-items: center;
}
.links > a {
    padding: 8px 16px;
    transition: background-color .3s ease-out;
    border-radius: 12px;
}
.links > a:hover {
    background-color: var(--bg-color);
}
.middle {
    display: none;
}
@media (min-width: 1200px) {
    .middle {
        display: flex;
    }
}
.right {
    display: none;
}
@media (min-width: 1200px) {
    .right {
        display: inline-block;
    }
}

.menuIcon {
    margin-left: 16px;
    cursor: pointer;
}