.header {
    composes: header from "./Header.module.css";
    position: static;
    padding-bottom: 15px;
}

.content {
    max-width: 360px;
    padding: 0 20px;
    margin: 20px auto 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content > h1 {
    font-size: 35px;
    font-weight: 500;
    padding: 10px 0 8px;
}

.form {
    padding: 24px 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formBtn {
    margin-top: 20px;
    background-color: #3e6ae1;
    color: white;
}
.formBtn:hover {
    opacity: 0.8;
}
.formBtn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}


.divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    width: 100%;;
}
  
.divider > hr {
    width: 40%;
    height: 0;
    opacity: 0.3;
}
  
.divider > span {
    font-size: 15px;
    font-weight: 500;
    color: #5c5e62;
}

.btn_secondary {
    color: #393c41;
    background-color: #f4f4f4;
}
.btn_secondary:hover {
    background-color: rgb(240, 240, 240);
}